---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

import MainLayout from "../../layouts/MainLayout.astro";

const posts = (await getCollection("blog"))
  .filter((p) => !p.data.draft ?? false)
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<MainLayout title="Blog" showNav={true}>
  <ul class="flex flex-col gap-3">
    {
      posts.map((post) => (
        <li class="flex flex-col gap-px">
          <a class="text-lg font-bold" href={`/blog/${post.slug}/`}>
            {post.data.title}
          </a>
          <FormattedDate
            class="text-sm text-slate-600"
            date={post.data.pubDate}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
