@import "tailwindcss";
@config "../../tailwind.config.cjs";

@layer components {
  @font-face {
    font-family: 'Peachi';
    src: url('/fonts/peachi-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    @apply text-3xl font-peachi;
  }

  h1.page-title {
    @apply text-5xl font-bold lg:text-8xl font-peachi;
  }

  h2 {
    @apply font-peachi;
  }

  .min-h-available {
    min-height: stretch;
  }

  .h-available {
    height: stretch;
  }

  .article {
    .astro-code {
      @apply !m-0 !rounded-none !bg-transparent !p-0;
    }
  }

  .article-content {
    .astro-code {
      @apply !my-6 !rounded-lg !bg-slate-800 !p-4;
      @apply !text-xs lg:!text-sm;
    }

    .astro-code.code-tabs-pre {
      @apply !m-0 !rounded-none !bg-slate-800 !p-4;
      @apply !text-xs lg:!text-sm;
    }

    details {
      @apply rounded-lg border border-slate-300 bg-slate-100 p-4 text-sm shadow-sm;

      p:last-child {
        @apply mb-0;
      }
      summary {
        @apply text-base font-semibold text-slate-700;
        @apply cursor-pointer;
      }
    }

    ol,
    ul {
      @apply marker:text-slate-800;

      li {
        @apply m-0;
      }

      ol, ul {
        @apply m-0;
      }
    }

    .header-caption {
      @apply text-sm font-semibold text-slate-500;
    }

    h1,
    h2,
    h3,
    h4 {
      &:has(+ .header-caption) {
        @apply mb-0;
      }
    }

    #in-this-post + ul {
      @apply flex list-none flex-col gap-2 pl-0;

      ul {
        @apply m-0 list-none;
      }

      a,
      p {
        @apply m-0 text-sm font-normal leading-tight;
      }

      li {
        @apply m-0 p-0;
      }

      ul {
        @apply flex flex-col gap-0;
      }
    }

    img {
      @apply mx-auto mt-12 w-auto rounded-lg object-contain shadow-sm;

      & ~ figcaption {
        @apply text-center text-sm text-slate-500;

        a {
          @apply font-normal text-slate-500;
        }
      }
    }

    .scrollable-code {
      pre {
        @apply max-h-[60vh] overflow-y-scroll lg:max-h-[700px];
      }
    }
  }

  .code-tabs-container {
    @apply my-8 flex flex-col;
  }

  .code-tabs-container__copy-button {
    @apply absolute top-3 right-3 rounded border border-slate-600 bg-slate-800/20 px-2 py-2 text-xs font-medium text-white backdrop-blur-sm;
    @apply transition hover:border-slate-500 hover:bg-slate-700/20 hover:underline;
    @apply shadow-inner active:bg-slate-800;
  }

  .code-tabs-container__copy-button svg {
    @apply h-5 w-5 text-slate-50;
  }

  .code-tabs-container__copy-button svg:nth-child(2) {
    @apply hidden;
  }

  .code-tabs-container__copy-button--selected {
    @apply border-emerald-500 bg-emerald-500/20 hover:border-emerald-500 hover:bg-emerald-500/20;
  }

  .code-tabs-container__copy-button--selected svg {
    @apply text-emerald-500;
  }

  .code-tabs-container__copy-button--selected svg:first-child {
    @apply hidden;
  }

  .code-tabs-container__copy-button--selected svg:nth-child(2) {
    @apply block;
  }

  .code-tabs-container__code-container {
    @apply relative;
  }

  .code-tabs-container__code-container--hidden {
    @apply hidden;
  }

  .code-tabs-container__output {
    @apply flex items-center gap-2 bg-slate-800 px-3;
  }

  .code-tabs-container__output-rule {
    @apply my-0 border-slate-700;
  }

  .code-tabs-container__output-rule--short {
    @apply w-8 flex-shrink-0;
  }

  .code-tabs-container__output-rule--long {
    @apply w-12 grow;
  }

  .code-tabs-container__output-label {
    @apply font-mono text-xs leading-none text-slate-600;
  }

  .code-tabs-container__output-code > pre.code-tabs-pre {
    padding-top: calc(var(--spacing) * 3) !important;
  }

  .code-tabs-container__tab {
    @apply p-1 p-3 font-mono text-xs whitespace-nowrap text-slate-400;
    @apply hover:cursor-pointer;
  }

  .code-tabs-container__tab--selected {
    @apply bg-slate-600/50 text-slate-50 shadow;
  }

  .code-tabs-container .code-rounded-b-lg pre.astro-code {
    border-bottom-left-radius: var(--radius-lg) !important;
    border-bottom-right-radius: var(--radius-lg) !important;
  }

  .code-tabs-container .code-rounded-b-lg > pre.code-tabs-pre {
    border-bottom-left-radius: var(--radius-lg) !important;
    border-bottom-right-radius: var(--radius-lg) !important;
  }

  .article-content .code-tabs-container .code-rounded-b-lg .astro-code {
    @apply !rounded-b-lg;
  }

  .padded-container {
    & > * {
      @apply px-6 lg:px-0;

      &:where(.no-padding) {
        @apply px-0;
      }
    }
  }
}
