---
import MainLayout from "../layouts/MainLayout.astro";

import { ResumeCard } from "../components";
---

<MainLayout showNav={true} title="Steve Coffey">
  <article class="prose prose-slate">
    <h1 class="page-title">👋 I'm Steve</h1>
    <p>I'm an engineer, entrepreneur, and occasionally, an amateur chef. I work up and down the stack but have a special love for creating beautiful, functional user interfaces for the web.</p>

    <h2>Work</h2>
    <h2>From the blog</h2>
    <h2>Open source</h2>
  </article>
</MainLayout>
