---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout showNav={true} title="My Resume">
  <article class="padded-container">
    <h1 class="page-title">The Resume</h1>
  </article>
</MainLayout>
