---
import { ThreeCanvas } from "../components";
import { id } from "../utilities";

const canvasId = `three-canvas-example-${id()}`;
---

<div class="three-canvas three-example bg-amber-100" id={canvasId}></div>

<script src="./three-example.ts"></script>
