---
import { ThreeCanvas } from "../components";
---

<ThreeCanvas class="three-example bg-slate-800">
  <div class="not-prose flex flex-col text-white">
    <h3 class="text-xl font-semibold text-white">U238</h3>
  </div>
</ThreeCanvas>

<script src="./three-example.ts"></script>
