<div class="aside not-prose w-full space-y-3 rounded-lg border border-blue-400 bg-blue-100 p-4 shadow shadow-blue-100">
  <div class="header-container contents">
    <slot name="header" />
  </div>
  <div class="body-container">
    <slot />
  </div>
</div>

<style is:global>
  .aside {
    .header-container * {
      @apply text-base font-bold italic text-blue-800;
    }

    .body-container {
      @apply text-sm;
    }
  }
</style>
