<div class="aside not-prose w-full space-y-3 rounded-lg border border-blue-400 bg-blue-100 p-4 shadow shadow-blue-100">
  <div class="header-container contents">
    <slot name="header" />
  </div>
  <div class="body-container">
    <slot />
  </div>
</div>

<style is:global>
  .aside {
    .header-container * {
      @apply my-0 text-base font-bold italic text-blue-800;
    }

    .body-container {
      @apply text-sm;
    }

    ol {
      @apply my-4 list-outside list-decimal space-y-2 pl-4;
    }

    p {
      @apply mb-4 mt-4;

      &:last-child {
        @apply mb-0;
      }
    }

    a {
      @apply font-medium underline;
    }

    pre.astro-code {
      code {
        @apply !font-normal;
        &:before {
          content: "" !important;
        }
        &:after {
          content: "" !important;
        }
      }
    }

    code {
      @apply font-bold;

      &:before {
        content: "`";
      }
      &:after {
        content: "`";
      }
    }
  }
</style>
