<hr class="mb-4 mt-12" />
<h4>Footnotes</h4>
<ol class="footnotes"></ol>

<script>
  const footnotes = document.querySelectorAll(".footnote-citation");
  const container = document.querySelector(".footnotes");

  footnotes.forEach((footnote: HTMLAnchorElement) => {
    const id = footnote.getAttribute("href").replace("#", "");
    const { text, href } = footnote.dataset;
    const li = document.createElement("li");
    li.classList.add("text-sm");
    li.id = id;

    if (href) {
      const anchor = document.createElement("a") as HTMLAnchorElement;
      anchor.href = href;
      anchor.target = "_blank";
      anchor.rel = "noopener noreferrer";
      anchor.innerText = text;
      li.appendChild(anchor);
    } else {
      li.innerText = text;
    }

    container.appendChild(li);
  });
</script>
