---
const today = new Date();
---

<footer>
  <p>
    &copy; {today.getFullYear()} Steve Coffey.
  </p>
</footer>

<style>
  footer {
    @apply mx-auto flex w-full p-6 lg:max-w-prose lg:px-0;

    p {
      @apply font-mono text-sm text-slate-400;
    }
  }
</style>
