---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  external?: boolean;
};

const { external, href, class: className, ...props } = Astro.props;
if (external) {
  props.target = "_blank";
  props.rel = "noopener noreferrer";
}

const { pathname } = Astro.url;
const isActive = href === pathname || (href !== "/" && pathname.replace(/\/$/, "").startsWith(href));
---

<a
  href={href}
  class:list={["w-fit no-underline text-slate-600 font-regular p-1 rounded", { "bg-slate-200 shadow-inner font-semibold": isActive }]}
  {...props}
>
  <slot />
</a>
