---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  external?: boolean;
};

const { external, href, class: className, ...props } = Astro.props;
if (external) {
  props.target = "_blank";
  props.rel = "noopener noreferrer";
}

const { pathname } = Astro.url;
const isActive = href === pathname || (href !== "/" && pathname.replace(/\/$/, "").startsWith(href));
---

<a
  href={href}
  class:list={[
    "font-regular h-fit w-fit rounded px-1 text-sm text-slate-600 no-underline lg:text-base",
    { "bg-slate-200 font-semibold shadow-inner": isActive },
  ]}
  {...props}
>
  <slot />
</a>
