---
type Props = {
  title: string;
  name: string;
  class?: string;
  dates: string;
};

const { name, class: className, dates, title } = Astro.props;
---

<div class:list={["rounded-xl p-8 w-full flex flex-col relative overflow-hidden", className]}>
  <h2 class="text-slate-800">{name}</h2>
  <h3 class="text-slate-800">{title}</h3>
  <p class="text-light text-xs text-slate-800">{dates}</p>
  <p class="text-slate-800">Sonder is a leading something something</p>
</div>
