---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

import MainLayout from "../layouts/MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<MainLayout title={title} docTitle={title} docDescription={description}>
  <article
    class="prose prose-pre:p-1 prose-pre:bg-slate-200 prose-pre:rounded-sm"
  >
    <FormattedDate date={pubDate} />
    <div class="py-12">
      <slot />
    </div>
  </article>
</MainLayout>
<style>
  .astro-code {
    background-color: #abcdef;
  }
</style>
