---
import { BaseHead, Nav, HeaderLink } from "../components";

import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import steve from "../assets/steve.jpg";

interface Props {
  showNav?: boolean;
  title: string;
  docTitle?: string;
  docDescription?: string;
}

const { docTitle, docDescription, title, showNav } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={docTitle ?? SITE_TITLE} description={docDescription ?? SITE_DESCRIPTION} />
  </head>
  <body class="min-h-available w-screen bg-slate-50 py-20 lg:py-32">
  {
      showNav && (
          <Nav />
      )
  }
    <div class="mx-auto px-6 lg:max-w-prose lg:px-0">
      <main><slot /></main>
    </div>
  </body>
</html>
