---
import { Footer, BaseHead, Nav, HeaderLink } from "../components";

import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import steve from "../assets/steve.jpg";

interface Props {
  showNav?: boolean;
  showFooter?: boolean;
  title: string;
  docTitle?: string;
  docDescription?: string;
  image?: string;
}

const { docTitle, docDescription, title, image, showNav, showFooter = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={docTitle ?? SITE_TITLE} description={docDescription ?? SITE_DESCRIPTION} image={image} />
  </head>
  <body class="flex min-h-[100dvh] w-screen flex-col bg-white">
    {showNav && <Nav />}
    <main class="mx-auto w-full grow py-20 lg:max-w-prose lg:px-0 lg:py-32"><slot /></main>
    <Footer />
  </body>
</html>
